--
-- PostgreSQL database dump
--

\restrict gjBpCdECVTmS8abmiWnCix3R3XpG1Uqu2DxnaFULe8Ao48Q3kebG7OMr0ow8QTO

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: _pick_image(bigint); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public._pick_image(id_in bigint) RETURNS text
    LANGUAGE sql IMMUTABLE
    AS $$
  SELECT url FROM _pool_imagenes ORDER BY idx LIMIT 1 OFFSET ((id_in - 1) % (SELECT count(*) FROM _pool_imagenes));
$$;


ALTER FUNCTION public._pick_image(id_in bigint) OWNER TO postgres;

--
-- Name: trg_update_fecha_actualizacion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trg_update_fecha_actualizacion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.fecha_actualizacion = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.trg_update_fecha_actualizacion() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoria (
    id_cat integer NOT NULL,
    nombre character varying(100) NOT NULL,
    url_imagen character varying(500),
    estado smallint DEFAULT 1 NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now() NOT NULL,
    comentario character varying(500),
    id_usr integer
);


ALTER TABLE public.categoria OWNER TO postgres;

--
-- Name: categoria_id_cat_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoria_id_cat_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categoria_id_cat_seq OWNER TO postgres;

--
-- Name: categoria_id_cat_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoria_id_cat_seq OWNED BY public.categoria.id_cat;


--
-- Name: comentario_id_comentario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comentario_id_comentario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comentario_id_comentario_seq OWNER TO postgres;

--
-- Name: comentario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comentario (
    id_comentario integer DEFAULT nextval('public.comentario_id_comentario_seq'::regclass) NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now() NOT NULL,
    id_receta integer NOT NULL,
    texto character varying(255),
    id_usr integer,
    estado integer
);


ALTER TABLE public.comentario OWNER TO postgres;

--
-- Name: donacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.donacion (
    id_donacion integer NOT NULL,
    currency character varying(255),
    fecha_actualizacion timestamp(6) without time zone,
    fecha_creacion timestamp(6) without time zone DEFAULT now(),
    id_receta integer,
    id_usr integer,
    status character varying(255),
    stripe_payment_intent character varying(255),
    stripe_session_id character varying(255),
    amount numeric(12,2)
);


ALTER TABLE public.donacion OWNER TO postgres;

--
-- Name: donacion_id_donacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.donacion_id_donacion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.donacion_id_donacion_seq OWNER TO postgres;

--
-- Name: donacion_id_donacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.donacion_id_donacion_seq OWNED BY public.donacion.id_donacion;


--
-- Name: estrella; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estrella (
    id_estrella integer NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now(),
    valor smallint NOT NULL,
    id_receta integer NOT NULL,
    id_usr integer NOT NULL
);


ALTER TABLE public.estrella OWNER TO postgres;

--
-- Name: estrella_id_estrella_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estrella_id_estrella_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estrella_id_estrella_seq OWNER TO postgres;

--
-- Name: estrella_id_estrella_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estrella_id_estrella_seq OWNED BY public.estrella.id_estrella;


--
-- Name: favorito; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favorito (
    id_fav integer NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now() NOT NULL,
    id_receta integer NOT NULL,
    id_usr integer NOT NULL
);


ALTER TABLE public.favorito OWNER TO postgres;

--
-- Name: favorito_id_fav_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.favorito_id_fav_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.favorito_id_fav_seq OWNER TO postgres;

--
-- Name: favorito_id_fav_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.favorito_id_fav_seq OWNED BY public.favorito.id_fav;


--
-- Name: ingrediente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingrediente (
    id_ingrediente integer NOT NULL,
    nombre text NOT NULL,
    id_receta integer NOT NULL
);


ALTER TABLE public.ingrediente OWNER TO postgres;

--
-- Name: ingrediente_new_id_ingrediente_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ingrediente_new_id_ingrediente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ingrediente_new_id_ingrediente_seq OWNER TO postgres;

--
-- Name: ingrediente_new_id_ingrediente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ingrediente_new_id_ingrediente_seq OWNED BY public.ingrediente.id_ingrediente;


--
-- Name: me_gusta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.me_gusta (
    id_megusta integer NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now(),
    id_receta integer NOT NULL,
    id_usr integer NOT NULL
);


ALTER TABLE public.me_gusta OWNER TO postgres;

--
-- Name: me_gusta_id_megusta_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.me_gusta_id_megusta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.me_gusta_id_megusta_seq OWNER TO postgres;

--
-- Name: me_gusta_id_megusta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.me_gusta_id_megusta_seq OWNED BY public.me_gusta.id_megusta;


--
-- Name: pais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pais (
    id_pais integer NOT NULL,
    nombre character varying(100) NOT NULL,
    url_imagen character varying(500),
    estado smallint DEFAULT 1 NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now() NOT NULL,
    comentario character varying(500),
    id_usr integer
);


ALTER TABLE public.pais OWNER TO postgres;

--
-- Name: pais_id_pais_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pais_id_pais_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pais_id_pais_seq OWNER TO postgres;

--
-- Name: pais_id_pais_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pais_id_pais_seq OWNED BY public.pais.id_pais;


--
-- Name: perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perfil (
    id_perfil integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.perfil OWNER TO postgres;

--
-- Name: perfil_id_perfil_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.perfil_id_perfil_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.perfil_id_perfil_seq OWNER TO postgres;

--
-- Name: perfil_id_perfil_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.perfil_id_perfil_seq OWNED BY public.perfil.id_perfil;


--
-- Name: receta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.receta (
    id_receta integer NOT NULL,
    nombre character varying(200) NOT NULL,
    url_imagen character varying(300) NOT NULL,
    ingrediente text DEFAULT ''::text,
    preparacion text NOT NULL,
    estado smallint DEFAULT 1 NOT NULL,
    id_cat integer NOT NULL,
    id_pais integer NOT NULL,
    fecha_creacion date DEFAULT now() NOT NULL,
    id_usr integer NOT NULL,
    visitas integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.receta OWNER TO postgres;

--
-- Name: receta_del_dia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.receta_del_dia (
    fecha date NOT NULL,
    id_receta integer NOT NULL
);


ALTER TABLE public.receta_del_dia OWNER TO postgres;

--
-- Name: receta_id_receta_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.receta_id_receta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.receta_id_receta_seq OWNER TO postgres;

--
-- Name: receta_id_receta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.receta_id_receta_seq OWNED BY public.receta.id_receta;


--
-- Name: sesion_pago; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sesion_pago (
    id_sesion integer NOT NULL,
    session_id character varying(255) NOT NULL,
    provider character varying(255) DEFAULT 'unknown'::character varying NOT NULL,
    status character varying(255) DEFAULT 'PENDING'::character varying NOT NULL,
    id_donacion integer,
    metadata jsonb,
    fecha_creacion timestamp(6) with time zone DEFAULT now() NOT NULL,
    fecha_actualizacion timestamp(6) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sesion_pago OWNER TO postgres;

--
-- Name: sesion_pago_id_sesion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sesion_pago_id_sesion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sesion_pago_id_sesion_seq OWNER TO postgres;

--
-- Name: sesion_pago_id_sesion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sesion_pago_id_sesion_seq OWNED BY public.sesion_pago.id_sesion;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id_usr integer NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    estado smallint DEFAULT 1 NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now(),
    comentario character varying(255),
    id_perfil integer NOT NULL,
    visitas integer
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_usr_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuario_id_usr_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuario_id_usr_seq OWNER TO postgres;

--
-- Name: usuario_id_usr_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuario_id_usr_seq OWNED BY public.usuario.id_usr;


--
-- Name: categoria id_cat; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id_cat SET DEFAULT nextval('public.categoria_id_cat_seq'::regclass);


--
-- Name: donacion id_donacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donacion ALTER COLUMN id_donacion SET DEFAULT nextval('public.donacion_id_donacion_seq'::regclass);


--
-- Name: estrella id_estrella; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estrella ALTER COLUMN id_estrella SET DEFAULT nextval('public.estrella_id_estrella_seq'::regclass);


--
-- Name: favorito id_fav; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorito ALTER COLUMN id_fav SET DEFAULT nextval('public.favorito_id_fav_seq'::regclass);


--
-- Name: ingrediente id_ingrediente; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingrediente ALTER COLUMN id_ingrediente SET DEFAULT nextval('public.ingrediente_new_id_ingrediente_seq'::regclass);


--
-- Name: me_gusta id_megusta; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.me_gusta ALTER COLUMN id_megusta SET DEFAULT nextval('public.me_gusta_id_megusta_seq'::regclass);


--
-- Name: pais id_pais; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pais ALTER COLUMN id_pais SET DEFAULT nextval('public.pais_id_pais_seq'::regclass);


--
-- Name: perfil id_perfil; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil ALTER COLUMN id_perfil SET DEFAULT nextval('public.perfil_id_perfil_seq'::regclass);


--
-- Name: receta id_receta; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta ALTER COLUMN id_receta SET DEFAULT nextval('public.receta_id_receta_seq'::regclass);


--
-- Name: sesion_pago id_sesion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sesion_pago ALTER COLUMN id_sesion SET DEFAULT nextval('public.sesion_pago_id_sesion_seq'::regclass);


--
-- Name: usuario id_usr; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usr SET DEFAULT nextval('public.usuario_id_usr_seq'::regclass);


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comentario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: donacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estrella; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estrella (id_estrella, fecha_creacion, valor, id_receta, id_usr) FROM stdin;
1	2025-11-02 03:10:19.49803	4	12	55
2	2025-11-02 10:56:33.946176	4	12	67
7	2025-11-02 13:42:36.891516	3	8	68
13	2025-11-04 03:53:33.881084	5	12	3
14	2025-11-04 20:37:45.71205	3	9	3
15	2025-11-04 20:44:08.494475	5	10	3
\.


--
-- Data for Name: favorito; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favorito (id_fav, fecha_creacion, id_receta, id_usr) FROM stdin;
1	2025-11-02 02:58:17.025785	12	55
14	2025-11-03 00:28:14.089603	8	78
18	2025-11-03 23:44:48.338187	8	1
23	2025-11-04 00:09:30.222345	8	3
24	2025-11-04 21:00:55.543619	10	3
\.


--
-- Data for Name: ingrediente; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: me_gusta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.me_gusta (id_megusta, fecha_creacion, id_receta, id_usr) FROM stdin;
2	2025-11-01 18:46:19.772205	8	1
1	2025-11-01 18:30:11.484725	8	2
3	2025-11-02 02:58:13.842658	12	55
9	2025-11-03 00:03:13.634768	8	72
10	2025-11-03 00:03:20.607135	8	73
11	2025-11-03 00:06:07.304679	8	74
19	2025-11-04 00:00:45.863062	8	3
21	2025-11-04 21:00:52.866597	10	3
\.


--
-- Data for Name: pais; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: perfil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.perfil (id_perfil, nombre) FROM stdin;
3	ADMIN
2	LIDER
1	USER
\.


--
-- Data for Name: receta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: receta_del_dia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.receta_del_dia (fecha, id_receta) FROM stdin;
2025-11-01	18
2025-11-02	30
2025-11-03	26
2025-11-04	22
2025-11-05	20
2025-11-07	15
\.


--
-- Data for Name: sesion_pago; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: categoria_id_cat_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_id_cat_seq', 63, true);


--
-- Name: comentario_id_comentario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comentario_id_comentario_seq', 1496, true);


--
-- Name: donacion_id_donacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.donacion_id_donacion_seq', 16, true);


--
-- Name: estrella_id_estrella_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estrella_id_estrella_seq', 15, true);


--
-- Name: favorito_id_fav_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.favorito_id_fav_seq', 24, true);


--
-- Name: ingrediente_new_id_ingrediente_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ingrediente_new_id_ingrediente_seq', 48, true);


--
-- Name: me_gusta_id_megusta_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.me_gusta_id_megusta_seq', 21, true);


--
-- Name: pais_id_pais_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pais_id_pais_seq', 95, true);


--
-- Name: perfil_id_perfil_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.perfil_id_perfil_seq', 3, true);


--
-- Name: receta_id_receta_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receta_id_receta_seq', 36, true);


--
-- Name: sesion_pago_id_sesion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sesion_pago_id_sesion_seq', 16, true);


--
-- Name: usuario_id_usr_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_id_usr_seq', 84, true);


--
-- Name: categoria categoria_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_nombre_key UNIQUE (nombre);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id_cat);


--
-- Name: comentario comentario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_pkey PRIMARY KEY (id_comentario);


--
-- Name: donacion donacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donacion
    ADD CONSTRAINT donacion_pkey PRIMARY KEY (id_donacion);


--
-- Name: estrella estrella_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estrella
    ADD CONSTRAINT estrella_pkey PRIMARY KEY (id_estrella);


--
-- Name: favorito favorito_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorito
    ADD CONSTRAINT favorito_pkey PRIMARY KEY (id_fav);


--
-- Name: ingrediente ingrediente_new_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingrediente
    ADD CONSTRAINT ingrediente_new_pkey PRIMARY KEY (id_ingrediente);


--
-- Name: me_gusta me_gusta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.me_gusta
    ADD CONSTRAINT me_gusta_pkey PRIMARY KEY (id_megusta);


--
-- Name: pais pais_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pais
    ADD CONSTRAINT pais_nombre_key UNIQUE (nombre);


--
-- Name: pais pais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pais
    ADD CONSTRAINT pais_pkey PRIMARY KEY (id_pais);


--
-- Name: perfil perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_pkey PRIMARY KEY (id_perfil);


--
-- Name: receta_del_dia receta_del_dia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta_del_dia
    ADD CONSTRAINT receta_del_dia_pkey PRIMARY KEY (fecha);


--
-- Name: receta receta_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT receta_nombre_key UNIQUE (nombre);


--
-- Name: receta receta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT receta_pkey PRIMARY KEY (id_receta);


--
-- Name: sesion_pago sesion_pago_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sesion_pago
    ADD CONSTRAINT sesion_pago_pkey PRIMARY KEY (id_sesion);


--
-- Name: favorito uk887bu4uo8aawt4vqxaf9tgpxu; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorito
    ADD CONSTRAINT uk887bu4uo8aawt4vqxaf9tgpxu UNIQUE (id_usr, id_receta);


--
-- Name: perfil uk_3b0dloqo94v7r6tjahpid9hc3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT uk_3b0dloqo94v7r6tjahpid9hc3 UNIQUE (nombre);


--
-- Name: me_gusta uq_megusta_receta_usuario; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.me_gusta
    ADD CONSTRAINT uq_megusta_receta_usuario UNIQUE (id_receta, id_usr);


--
-- Name: usuario usuario_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_email_key UNIQUE (email);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usr);


--
-- Name: idx_comentario_id_receta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comentario_id_receta ON public.comentario USING btree (id_receta);


--
-- Name: idx_ingrediente_id_receta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ingrediente_id_receta ON public.ingrediente USING btree (id_receta);


--
-- Name: idx_receta_id_cat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_receta_id_cat ON public.receta USING btree (id_cat);


--
-- Name: idx_receta_id_pais; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_receta_id_pais ON public.receta USING btree (id_pais);


--
-- Name: idx_receta_id_usr; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_receta_id_usr ON public.receta USING btree (id_usr);


--
-- Name: ingrediente_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ingrediente_nombre_key ON public.ingrediente USING btree (lower(TRIM(BOTH FROM nombre)));


--
-- Name: ux_favorito_usr_receta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_favorito_usr_receta ON public.favorito USING btree (id_usr, id_receta);


--
-- Name: ux_sesion_pago_sessionid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_sesion_pago_sessionid ON public.sesion_pago USING btree (session_id);


--
-- Name: ux_usuario_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_usuario_email ON public.usuario USING btree (email);


--
-- Name: sesion_pago set_fecha_actualizacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_fecha_actualizacion BEFORE UPDATE ON public.sesion_pago FOR EACH ROW EXECUTE FUNCTION public.trg_update_fecha_actualizacion();


--
-- Name: categoria categoria_id_usr_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_id_usr_fkey FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: comentario comentario_receta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_receta_fkey FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta) ON DELETE CASCADE;


--
-- Name: comentario comentario_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_usuario_fkey FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: donacion donacion_id_receta_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donacion
    ADD CONSTRAINT donacion_id_receta_fk FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta) ON DELETE SET NULL;


--
-- Name: donacion donacion_id_usr_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donacion
    ADD CONSTRAINT donacion_id_usr_fk FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr) ON DELETE SET NULL;


--
-- Name: ingrediente fk_ingrediente_receta; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingrediente
    ADD CONSTRAINT fk_ingrediente_receta FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta) ON DELETE CASCADE;


--
-- Name: sesion_pago fk_sesion_pago_donacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sesion_pago
    ADD CONSTRAINT fk_sesion_pago_donacion FOREIGN KEY (id_donacion) REFERENCES public.donacion(id_donacion) ON DELETE SET NULL;


--
-- Name: me_gusta fkeu6k9bc9cdoikmwh3xc81oy48; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.me_gusta
    ADD CONSTRAINT fkeu6k9bc9cdoikmwh3xc81oy48 FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta);


--
-- Name: estrella fkfey8w00kt60dhi2c4i96dj4b2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estrella
    ADD CONSTRAINT fkfey8w00kt60dhi2c4i96dj4b2 FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: favorito fkh7xyncd05syjb4qbrc87i0da2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorito
    ADD CONSTRAINT fkh7xyncd05syjb4qbrc87i0da2 FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta);


--
-- Name: me_gusta fklt9disbee9m0fbsu33vxh7qdy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.me_gusta
    ADD CONSTRAINT fklt9disbee9m0fbsu33vxh7qdy FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: favorito fkrq0y1oifowf2v3iu8mtqqidvs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorito
    ADD CONSTRAINT fkrq0y1oifowf2v3iu8mtqqidvs FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: estrella fkrxcbprpobmiqkdxmoo32ylkld; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estrella
    ADD CONSTRAINT fkrxcbprpobmiqkdxmoo32ylkld FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta);


--
-- Name: pais pais_id_usr_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pais
    ADD CONSTRAINT pais_id_usr_fkey FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: receta receta_id_cat_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT receta_id_cat_fkey FOREIGN KEY (id_cat) REFERENCES public.categoria(id_cat);


--
-- Name: receta receta_id_pais_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT receta_id_pais_fkey FOREIGN KEY (id_pais) REFERENCES public.pais(id_pais);


--
-- Name: receta receta_id_usr_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT receta_id_usr_fkey FOREIGN KEY (id_usr) REFERENCES public.usuario(id_usr);


--
-- Name: usuario usuario_id_perfil_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_perfil_fk FOREIGN KEY (id_perfil) REFERENCES public.perfil(id_perfil);


--
-- PostgreSQL database dump complete
--

\unrestrict gjBpCdECVTmS8abmiWnCix3R3XpG1Uqu2DxnaFULe8Ao48Q3kebG7OMr0ow8QTO

